# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
sysinfo.txt

# Visual Studio / VS Code
.vscode/
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.suo
*.tmp

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Package manager
/Packages/packages-lock.json
